<html>

<head>
	<title>Online Library Management System</title>
	<link rel="stylesheet" type="text/css" href = "/css/login.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body bgcolor="black">
		<div id="content">
  <div id="left-col">
    
			<img src="images/picture1.jpg">
	</div>
	

  <div id="right-col">
  	<div class = "inner-circle">
  		<h1>WELCOME TO ONLINE LIBRARY</h1>
		<form action="/login" method="POST">

 		<h2>EMAIL ID:    <input type="text" id="email" name="email"  class="form-login" /> <br>
				
				<br/> 
	PASSWORD:	 <input type="password" id="password" name="password" class="form-login" /> <br /> 
				
  <br><br>  </h2>
  <input type="image" src="images/submit-button.jpg" value="Login" type="Submit" class = "btn" />
  
</form> 
</div>
  </div>
</div>
	
	
	</body>
	
	
	

</html>